language: cpp
sudo: required
dist: trusty
compiler:
  - g++
  - clang++
os:
  - linux
  - osx
before_install:
  - wget https://cmake.org/files/v3.5/cmake-3.5.1.tar.gz
  - tar xf cmake-3.5.1.tar.gz
  - cd cmake-3.5.1
  - ./configure
  - make
script:
  - echo "data_file data" > tester.conf
  - mkdir build
  - cd build
  - cmake ..
  - make
  - cd tester
  - dd if=/dev/urandom of=./data bs=8M count=4
  - ./tester
