language: cpp
addons:
  apt:
    packages:
    - cmake
compiler:
  - gcc
  - clang
os:
  - linux
  - osx
script:
  - echo "data_file data" > tester.conf
  - mkdir build
  - cd build
  - cmake ..
  - make
  - cd tester
  - dd if=/dev/urandom of=./data bs=8M count=4
  - ./tester
